

<div class="col-sm-offset-11 col-sm-1" style = "z-index:1; margin-top: 130px;">
    <div class="sidebar-nav-fixed pull-right affix">
            <ul class="nav">

				<div class="dropdown">
				  <a class = "flag arbol" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "arboles-none" class= "boton-desaparece btn-calles" data-target="arboles">None</li>
				    <li class="boton-arboles activado" data-src="<%= asset_path('arboles/A1.png') %>">Champs Elysees, Paris</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A2.png') %>">Fuencarral, Madrid</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A3.png') %>">Morelos, Monterrey</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A4.png') %>">Paseo de Gracia, Barcelona</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A5.png') %>">Puerto Madero, Buenos Aires</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A6.png') %>">Ramblas, Barcelona</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A7.png') %>">Stroget, Copenhagen</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A8.png') %>">Via del Corso, Roma</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A9.png') %>">5ta Avenida, Playa del Carmen</li>
				    <li class="boton-arboles" data-src="<%= asset_path('arboles/A10.png') %>">Zeil, Frankfurt</li>
				  </ul>
				</div>


				<div class="dropdown">
				  <a class = "flag pavimento" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>

				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "banquetas-none" class= "boton-desaparece btn-calles" data-target="banquetas">None</li>
				    <li class="boton-banquetas activado" data-src="<%= asset_path('pavimentos/P1.png') %>">Champs Elysees, Paris</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P2.png') %>">Fuencarral, Madrid</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P3.png') %>">Morelos, Monterrey</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P4.png') %>">Paseo de Gracia, Barcelona</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P5.png') %>">Puerto Madero, Buenos Aires</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P6.png') %>">Ramblas, Barcelona</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P7.png') %>">Stroget, Copenhagen</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P8.png') %>">Via del Corso, Roma</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P9.png') %>">5ta Avenida, Playa del Carmen</li>
				    <li class="boton-banquetas" data-src="<%= asset_path('pavimentos/P10.png') %>">Zeil, Farnkfurt</li>
				  </ul>
				</div>

				<div class="dropdown">
				  <a class = "flag mobiliario" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>

				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "mobiliarios-none" class= "boton-desaparece btn-calles" data-target="mobiliarios">None</li>
				    <li class="boton-mobiliarios activado" data-src="<%= asset_path('mobiliarios/M1.png') %>">Champs Elysees, Paris</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M2.png') %>">Fuencarral, Madrid</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M3.png') %>">Morelos, Monterrey</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M4.png') %>">Paseo de Gracia, Barcelona</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M5.png') %>">Puerto Madero, Buenos Aires</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M6.png') %>">Ramblas, Barcelona</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M7.png') %>">Stroget, Copenhagen</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M8.png') %>">Via del Corso, Roma</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M9.png') %>">5ta Avenida, Playa del Carmen</li>
				    <li class="boton-mobiliarios" data-src="<%= asset_path('mobiliarios/M10.png') %>">Zeil, Frankfurt</li>
				  </ul>
				</div>

				<div class="dropdown">
				  <a class = "flag edificios" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>

				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "calles-none" class= "boton-desaparece btn-calles" data-target="calles">None</li>
				    <li class="boton-calles activado" data-src="<%= asset_path('edificios/E1.png') %>">Champs Elysees, Paris</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E2.png') %>">Fuencarral, Madrid</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E3.png') %>">Morelos, Monterrey</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E4.png') %>">Paseo de Gracia, Barcelona</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E5.png') %>">Puerto Madero, Buenos Aires</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E6.png') %>">Ramblas, Barcelona</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E7.png') %>">Stroget, Copenhagen</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E8.png') %>">Via del Corso, Roma</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E9.png') %>">5ta Avenida, Playa del Carmen</li>
				    <li class="boton-calles" data-src="<%= asset_path('edificios/E10.png') %>">Zeil, Frankfurt</li>
				  </ul>
				</div>

				<div class="dropdown">
				  <a class = "flag iluminacion" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>

				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "iluminaciones-none" class= "boton-desaparece btn-calles" data-target="iluminaciones">None</li>
				    <li class="boton-iluminaciones activado" data-src="<%= asset_path('iluminaciones/I1.png') %>">Champs Elysees, Paris</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I2.png') %>">Fuencarral, Madrid</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I3.png') %>">Morelos, Monterrey</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I4.png') %>">Paseo de Gracia, Barcelona</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I5.png') %>">Puerto Madero, Buenos Aires</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I6.png') %>">Ramblas, Barcelona</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I7.png') %>">Stroget, Copenhaguen</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I8.png') %>">Via del Corso, Roma</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I9.png') %>">5ta Avenida, Playa del Carmen</li>
				    <li class="boton-iluminaciones" data-src="<%= asset_path('iluminaciones/I10.png') %>">Zeil, Frankfurt</li>
				  </ul>
				</div>
				
				<div class="dropdown">
				  <a class = "flag peaton" id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				  </a>

				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				    <li id = "peatones-none" class= "boton-desaparece btn-calles" data-target="peatones">None</li>
				    <li class="boton-peatones activado" data-src="<%= asset_path('peatones/P1.gif') %>">Peatones</li>
				  </ul>
				</div>
            </ul>
        <!--/.well -->
    </div>
    <!--/sidebar-nav-fixed -->
</div>


<div style="position:relative;">
	<div style = "position:absolute;">
		<%= image_tag 'exposicion.png' %>
	</div>
	<div id = "div-calles" style="position:absolute;">
		<%= image_tag 'edificios/E1.png', id: "imagen-calles" %>
	</div>
	<div id = "div-banquetas" style="position:absolute;">
		<%= image_tag 'pavimentos/P1.png', id: "imagen-banquetas" %>
	</div>
	<div id = "div-iluminaciones" style="position:absolute;">
		<%= image_tag 'iluminaciones/I1.png', id: "imagen-iluminaciones" %>
	</div>
	<div id = "div-mobiliarios" style="position:absolute;">
		<%= image_tag 'mobiliarios/M1.png', id: "imagen-mobiliarios" %>
	</div>
	<div id = "div-peatones" style="position:absolute;">
		<%= image_tag 'mobiliarios/P1.gif', id: "imagen-peatones" %>
	</div>
	<div id = "div-arboles" style="position:absolute;">
		<%= image_tag 'arboles/A1.png', id: "imagen-arboles" %>
	</div>
</div>

<script>
	$(".boton-desaparece").click(function (event) {
		target = this.getAttribute('data-target');

		$(".boton-"+target).removeClass('activado');
		$(this).addClass("activado");
		//alert("desaparece calles");
		document.getElementById("div-"+target).style.display = "none";
	});

	$('.boton-arboles').click(function (event) {
		var arbol = this.getAttribute('data-src');

		$('#arboles-none').removeClass('activado');
		$('.boton-arboles').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-arboles').style.display = "block";
		document.getElementById('imagen-arboles').src = arbol;
		event.preventDefault(); // Prevent link from following its href
	});

	$('.boton-banquetas').click(function (event) {
		var banqueta = this.getAttribute('data-src');

		$('#banquetas-none').removeClass('activado');
		$('.boton-banquetas').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-banquetas').style.display = "block";
		document.getElementById('imagen-banquetas').src = banqueta;
		event.preventDefault(); // Prevent link from following its href
	});

	$('.boton-calles').click(function (event) {
		var calle = this.getAttribute('data-src');

		$('#calles-none').removeClass('activado');
		$('.boton-calles').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-calles').style.display = "block";
		document.getElementById('imagen-calles').src = calle;
		event.preventDefault(); // Prevent link from following its href
	});

	$('.boton-iluminaciones').click(function (event) {
		var iluminacion = this.getAttribute('data-src');

		$('#iluminaciones-none').removeClass('activado');
		$('.boton-iluminaciones').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-iluminaciones').style.display = "block";
		document.getElementById('imagen-iluminaciones').src = iluminacion;
		event.preventDefault(); // Prevent link from following its href
	});

	$('.boton-mobiliarios').click(function (event) {
		var mobiliario = this.getAttribute('data-src');

		$('#mobiliarios-none').removeClass('activado');
		$('.boton-mobiliarios').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-mobiliarios').style.display = "block";
		document.getElementById('imagen-mobiliarios').src = mobiliario;
		event.preventDefault(); // Prevent link from following its href
	});

	$('.boton-peatones').click(function (event) {
		var peaton = this.getAttribute('data-src');

		$('#peatones-none').removeClass('activado');
		$('.boton-peatones').removeClass('activado');
		$(this).addClass("activado");

		document.getElementById('div-peatones').style.display = "block";
		document.getElementById('imagen-peatones').src = peaton;
		event.preventDefault(); // Prevent link from following its href
	});
</script>